<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <clipPath id="a">
            <path d="m21 5.5h-15.5v15.5z" fill="currentColor" stroke="none" style="paint-order:stroke markers fill"/>
        </clipPath>
    </defs>
    <clipPath>
        <path d="M0 0h24v24H0Z M12 4.6a7.4 7.4 0 1 0 0 14.8 7.4 7.4 0 1 0 0-14.8Z" clip-rule="evenodd"/>
    </clipPath>
    <rect x="2" y="2" width="20" height="20" rx="2.5"/>
    <circle cx="12" cy="12" r="5.5" clip-path="url(#a)"/>
    <path d="M 22,7.2 7.2,22 H 22 Z" fill="currentColor" stroke="none" style="paint-order:stroke markers fill"/>
</svg>
